.container-header {
    display: flex;
    width: 100vw;
    padding: 24px 100px;
    justify-content: space-between;
}

.navigation-header {
    display: flex;
}

.navigation-header a {
    color: var(--primary);
}

.navigation-header .nav-list {
    display: flex;
    gap: 24px;
}

.navigation-header .nav-list .btn-nav {
    background: var(--primary);
    color: var(--white);
    padding: 12px 31px;
    font-weight: 700;
}

.imagem{
    width: 502px;
    height: 502px;
    border-radius: 20px;
}

.main-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section-container {
    display: flex;
    flex-direction: column;
    gap: 31px;
}

h1 {
    font-family: Quicksand, sans-serif;
    font-size: 3rem;
    color: var(--black);
}